<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Alexandre DUCHENNE</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style type="text/css">
      html {
        font-size: 10pt;
      }
      
      .card {
        height: 100%;
      }
      
      #contact > div {
        flex-grow: 1;
      }
      
      @media print {
        #skills {
          font-size: 10pt;
        }
      }
  </style>
</head>
<body>
<header class="d-print-none">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <img src="./pic.jpg"
           class="rounded-circle navbar-brand" height="75">
      <span class="navbar-brand">Alexandre DUCHENNE</span>
    </div>
  </nav>
</header>

<main id="main" class="container">
  <div class="row d-none d-print-flex justify-content-between">
    <div id="contact-print" class="col-auto mr-auto">
      <h1>
        <strong>{{ data.contact.name }}</strong>
      </h1>
      <span>{{ data.contact.area }}</span>
      <br/>
      <span>{{ data.contact.mail }}</span>
      <br>
      <span>{{ data.contact.phone }}</span>
    </div>
    <div id="qrcode" class="col-auto">
      <img src="contact.png" class="img-fluid" style="height: 3cm">
    </div>
  </div>
  <div class="row">
    <section id="skills" class="col order-md-1 order-2 mt-3">
      <h2>{{ data.sections.skills }}</h2>
      <h4 class="p-3">
        <skill v-for="(category, name) in data.skills" :name="name" :category="category" :skill-style="skillStyle"></skill>
      </h4>
    </section>
    <section id="contact" class="col-lg-4 col-md-6 col-sm-12 order-md-2 order-1 d-flex flex-column mt-3 d-print-none">
      <h2>{{ data.sections.contact }}</h2>
      <div class="row d-flex justify-content-around align-items-center text-center p-3">
        <div class="col">
          <h2>
            <a href="duchenne.vcf">
              <i class="fa fa-vcard" aria-hidden="true"></i>
            </a>
          </h2>
        </div>
        <div class="col">
          <h2>
            <a :href="'mailto:' + data.contact.mail">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
          </h2>
        </div>
        <div class="col">
          <h2>
            <a target="_blank" href="https://www.linkedin.com/in/alexandreduchenne/">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </h2>
        </div>
        <div class="col">
          <h2>
            <a target="_blank" href="https://github.com/alexduch">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
          </h2>
        </div>
      </div>
    </section>
  </div>
  <section id="experience" class="mt-3">
    <h2>{{ data.sections.xp }}</h2>
    <div id="xp" class="pt-3">
      <xp :xp="data.xp" :skill-style="skillStyle"></xp>
    </div>
  </section>
  <section id="formation" class="mt-3">
    <h2>{{ data.sections.education }}</h2>
    <div class="row p-3">
      <training v-for="t in data.education" v-bind="t"></training>
    </div>
  </section>
</main>

<footer class="d-print-none">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container d-flex justify-content-end">
        <form class="form-inline">
          <select id="languageSelector" class="custom-select" onchange="fetchData(this.value)">
            <option value="fr" selected>FR</option>
            <option value="en">EN</option>
          </select>
        </form>
    </div>
  </nav>
</footer>

<script src="https://vuejs.org/js/vue.js"></script>
<!--script src="https://vuejs.org/js/vue.min.js"></script-->
<script src="./data-loader.js"></script>
</body>
</html>
